*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:rgb(219, 17, 17);
    font-style: oblique;
    font-size: 80px;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 3px #000;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    }
li{
    padding: 15px;
    
}
a{
    color:rgb(51, 10, 199);
}
h2{
    font-size: 35px;
    font-style: italic;
    color:rgb(15, 95, 7);
    text-align: center;
}
h3{
    font-size: 20px;
    color: rgb(123, 8, 230);
}
p{
    text-align: center;
    font-weight: 500;
    margin: 5px ;
}

img{
    width: 300px;
    height: 300px;
    border: 5px solid #555;
  
}

.sayfa-basi {
    text-align: left;
    font-weight:bold;

}
